/******************************************MAIN****************************************************/
.green {
    color: #50B810;
}
.main-font-weight {
    font-weight: 600;
}
.grey {
    color: #555555;
}
/****************************************STYLES****************************************************/
.TodoListWrapper {
    margin-top: 92px;
    width: 263px;
    height: 716px;
    background-color: #FFFFFF;
    overflow: hidden;
    overflow-y: scroll;
}
.TopLine {
    height: 20px;
    padding: 0px 4px 0px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TopLine > p:nth-child(1) {
    font-size: 14px;
}
.TopLine > div {
    display: flex;
    align-items: center;
}
.TopLine > div > p {
    text-align: center;
    border: 1px solid #555555;
    border-radius: 4px;
    padding: 1px, 6px, 2px, 5px;
    font-size: 14px;
}
.TopLine > div > img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.card {
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 1px 5px 0px #D0DAEB;
    margin: 16px 4px;
}
.TodoTitle {
    display: flex;
    align-items: baseline;
}
.TodoTitle > input[type=checkbox] {
    border-radius: 4px;
    border: 1px solid #AAB7D4;
    box-shadow: 0px 1px 2px 0px #44566C80;
    background-color: #F8FAFB;
}
.TodoTitle > h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #3D8FEC;
    text-transform: capitalize;
    align-self: center;
}
.task-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TodoDate {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.TodoDate > p{
    padding: 0;
}
.TodoDescription {
    font-size: 13px;
    text-transform: capitalize;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
}
.BottomLine {
    display: flex;
    justify-content: space-between;
}
.BottomLine > span > a {
    padding: 2px 6px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 4px;
}
.BottomLine > span > a:nth-child(1) {
    background: #B233A6;
    color: white;
}
.BottomLine > span > a:nth-child(2) {
    background: #EBEEF6;
}